.tile {
    /*margin:0;*/
    /*padding:0;*/
    /*border:none;*/
    outline:1px solid #000;
    /*width: 5vw;*/
    /*height: 5vw;*/
    aspect-ratio: 1/ 1;
    /*display: inline-flex;*/
    align-items: center;
    position: relative;
    /*display: inline-block; !*IMPORTANT INLINE MAKES STUFF GO NOT IN ONE COLUMN LOL*!*/

}

.grid{
    /*grid-template-columns: auto auto;*/
    /*position: relative;*/
    position: relative;
    /*height: 10vw;*/
    /*width: 150vh;*/
    display: inline-grid;

    /*display: flex;*/
    /*flex-wrap: wrap*/
}

.enemy{
    position: absolute;
    width: 2vw;
    height: 2vw;
    /*background-color: green;*/
    background-image: url("imgs/alien.png");
    background-size: contain;

}

.path{
    background-color: #c99445
}

.grass{
    background-color: #81c070
}

.stone{
    background-color: #a0a0a0
}

body{
    background-color: #222222;
}

.targeted{
    background-color: #ff0000;
}

.targeted2{
    background-color: #ffaaa0;
}

.radiuscircle{
    position: absolute;
    border: red solid 1px;
    background-color: rgba(0,0,0,0);
    pointer-events: none;
}

.corner{
    position: absolute;
    width: 1vw;
    height: 1vw;
    background-color: #000000;
}


.cannon{
    position: absolute;
    width: 2vw;
    height: 0.3vw;
    rotate: 90deg;
    background-color: #000000;
}

.tower{
    position: absolute;
    width: 2vw;
    height: 2vw;
    border-radius: 1vw;
    background-color: #000000;
}

.tesla{
    position: absolute;
    width: 2vw;
    height: 2vw;
    border-radius: 1vw;
    background-color: #0c3b65;
}

.lightning{
    position: absolute;
    width: 0.2vw;
    height: 0.2vw;
    background-color: #34c8fc;
}


@keyframes cannonpow {
    50%{
        /*width: 1vw;*/
        /*height: 0.8vw;*/
        border-radius: 2vw;
        scale: 150%;
    }
    0%,100% {
        border-radius: 0px;
        /*width: 2vw;*/
        /*height: 0.3vw;*/
    }

}

.cannonpow{
    animation: cannonpow 0.1s linear 0s 1 normal;
}

.hpbar{
    position: absolute;
    width: 2vw;
    height: 0.2vw;
    background-color: #ff0000;
}

#ui{
    grid-template-columns: auto auto;
    display: inline-grid;
}